{$HTTP_HOST} {
    root {$DOCUMENT_ROOT}
    tls self_signed

    gzip

    fastcgi / 127.0.0.1:9000 php
    rewrite {
        regexp .*
        ext /
        to {path} /index.php?{query}
    }

    log stdout
    errors stdout

    on startup php-fpm --nodaemonize
}
